<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<header>
    <h1>Testing</h1>
    <p>Testing<p>
    </header>
    
<body>
    Welcome to the CZVR Integration website, this is WIP
</body>
<p>
    <href="https://discord.com/api/oauth2/authorize?client_id=947062830358736897&redirect_uri=https%3A%2F%2Fczvr-bot.herokuapp.com%2Fdiscord%2Foauth%2F&response_type=code&scope=identify%20guilds.join"><input type="submit" name="submit_button" value="Link with Discord">
</p>
</html>
